
body{
	background-color: #EEEE;
}
.list-item{
	color: green;
	font-family: sans-serif;
	font-weight: bold;
	padding: 16px;
	margin-bottom: 8px;
	border:2px solid red;
	/*border-left-width: 10px;*/
	tuong tu border-width: 0 0 0 10px;
	border-radius: 10px;
	background-color: #EEE;

}
.list-item-transparent
{
	/*background-color: transparent;*/
	background: rgb(2,0,36);
background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);

}
.list-item-pattern{
	background-image: url(./cat.jpeg);
	background-size: 30%;
	height: 200px;
}

.list-item-image{
	background-image: url(./child.jpeg);
	height: 200px;
	background-size: cover;
	background-position: 0 8px;
}
.list-item-parallax{
	background-image: url(./child.jpeg);
	height: 200px;
	background-size: cover;
	background-attachment: fixed;
}