.list-item{
	color: red;
	font-family: sans-serif;
	font-weight: bold;
	padding: 16px;
	margin-bottom: 8px;
	border:2px solid red;
	/*border-left-width: 10px;*/
	tuong tu border-width: 0 0 0 10px;
	border-radius: 10px;

}
