/*import url('@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');')
h1{
	font-family: 'Roboto';
	
}*/
@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto+Condensed');
.duong{
	font-family: 'Raleway';
	color: red;
}
h1{
	font-family: 'Raleway';
	color: green;
	text-decoration: underline;
}
